<div class="row page-conntainer">
  <div class="col-4 home-container">
    <div class="oops">
        Ooops
    </div>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-4 number-container">
        <div class="number first">
          4
        </div>
      </div>
      <div class="col-4 number-container">
        <div class="number second">
          0
        </div>        
      </div>
      <div class="col-4 number-container">
        <div class="number third">
          4
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 home-container">
        <div class="page-not-found">
            Page Not Found !!!
        </div>
      </div>
      <div class="col-4 home-container">
        <div class="home">
          <a [routerLink]="['/']">
            <i class="fas fa-home"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>