<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
  <a href="#" class="navbar-brand">
    <i class="fab fa-angular fa-2x brand-icon"></i> Qivos App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav" *ngIf="(status | async)">
      <li class="nav-item">
        <a class="nav-link logout-link" (click)="onLogout()"> Logout </a> 
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet> 
</div> 